body {
  background-color: lightblue;
}
img {
  height: 200px;
  width: 200px;
}

.photoAlbum {
  position: absolute;
  left: 10%;
  top: 20%;
}

.jumbotron {
  position: absolute;
  left: 50%;
  top: 10%;
}
